<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Weather</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section id="inputs">
        <h2>To retrieve the route, and weather information for both your starting location and your destination, kindly fill the form provided below: </h2>
        <form action="/getTravelWeather" method="post">
            <label for="currentLocation">Enter your starting location: </label>
            <input name="currentLocation" type="text" placeholder="Starting Location">
            <label for="destination">Enter your destination: </label>
            <input name= "destination" type="text" placeholder="Destination">
            <input class="submitButton" type="submit" value="Submit"> 
        </form>
        <h2>To obtain the weather information for a specific location, kindly fill the form below: </h2>
        <form action="/getWeather" method="post">
            <label for="location">Please enter your desired location: </label>
            <input name="location" type="text" placeholder="Miami,Florida">
            <input class="submitButton" type="submit" value="Submit">
        </form>
    </section>
    <% if (locals.weather) { %>
     <section id="weather">
        <h3>Weather</h3>
        <ul>
            <li><img src="<%= weather.current.condition.icon %>" alt=""><%=weather.current.condition.text  %></li>
        </ul>
        <p>City: <%= weather.location.name %></p>
        <p>Region: <%= weather.location.region %></p>
        <p>Country: <%= weather.location.country %></p>
        <p>Timezone: <%= weather.location["tz_id"] %></p>
        <p>Temperature: <%=weather.current["temp_c"]%>°C / <%=weather.current["temp_f"] %>°F</p>
        <p>Humidity: <%= weather.current.humidity %></p>
        <p>UV: <%= weather.current.uv %></p>
        <p>Wind Speed: <%= weather.current["wind_kph"] %> kph / <%= weather.current["wind_kph"] %> mph</p>
     </section>
    <% } %>  
    <section id="route"></section>
    <section id="footer">
        <%- include("partials/footer.ejs") %>
    </section>
</body>
</html>